# Default owners for everything
* @rune-format/rust-maintainers

# Project governance and documentation
CODE_OF_CONDUCT.md @arcmoonstudios
CONTRIBUTING.md @arcmoonstudios
LICENSE @arcmoonstudios
README.md @arcmoonstudios
