[package]
name = "toon-format"
version = "0.2.1"
edition = "2021"
authors = [
    "Johann Schopplich <hello@johannschopplich.com>",
    "Shreyas K S <ks.shreyas0@gmail.com>",
]
license = "MIT"
description = "Token-Oriented Object Notation (TOON) - a token-efficient JSON alternative for LLM prompts"
repository = "https://github.com/toon-format/toon-rust"
homepage = "https://toonformat.dev"
documentation = "https://docs.rs/toon-format"
keywords = ["toon", "format", "llm", "token", "serialization"]
categories = ["encoding", "parser-implementations"]
readme = "README.md"

[[example]]
name = "examples"
path = "examples/main.rs"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
indexmap = "2.0"
serde_json = { version = "1.0.145", features = ["preserve_order"] }
thiserror = "2.0.17"
